@model ShoppingSite.Models.User

@{
    ViewData["Title"] = "Edit";
}
<style>
    body {
        margin-top: 400px;
        background-image: url('/img/background.jpg');
        background-color: rgba(255, 255, 255, 0.85);
        background-blend-mode: lighten;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        max-width: 600px; 
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

    input[type="submit"] {
        width: 100%;
    }
</style>
<div class="container">
    <h1>お客様情報編集</h1>

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Address" class="control-label" >住所</label>
            <input asp-for="Address" class="form-control" placeholder="東京都千代田区千代田１−１" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="UserName" class="control-label" >お客様の氏名</label>
            <input asp-for="UserName" class="form-control" placeholder="ショッピング 太郎" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <!-- 以下の項目を隠す -->
        <input type="hidden" asp-for="NormalizedUserName" />
        <div class="form-group">
            <label asp-for="Email" class="control-label">Emailアドレス</label>
            <input asp-for="Email" class="form-control" placeholder="〇〇〇＠〇〇〇.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <!-- 以下の項目を隠す -->
        <input type="hidden" asp-for="NormalizedEmail" />
        <input type="hidden" asp-for="EmailConfirmed" />
        <input type="hidden" asp-for="PasswordHash" />
        <input type="hidden" asp-for="SecurityStamp" />
        <input type="hidden" asp-for="ConcurrencyStamp" />
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label">携帯番号</label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="-(ハイフン)抜きで入力してください" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <!-- 以下の項目を隠す -->
        <input type="hidden" asp-for="PhoneNumberConfirmed" />
        <input type="hidden" asp-for="TwoFactorEnabled" />
        <input type="hidden" asp-for="LockoutEnd" />
        <input type="hidden" asp-for="LockoutEnabled" />
        <input type="hidden" asp-for="AccessFailedCount" />
        <div class="form-group">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}