@model IEnumerable<ShoppingSite.Models.User>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        margin-top: 400px;
        background-image: url('/img/background.jpg');
        background-color: rgba(255, 255, 255, 0.85);
        background-blend-mode: lighten;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h3>変更が完了しました</h3>
<a class="navbar-brand" href="~/home">
   ホームページに戻る
</a>