@model ShoppingSite.ViewModels.ProductSearchViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        margin-top: 400px; 
        background-image: url('/img/background.jpg');
        background-color: rgba(255, 255, 255, 0.9);
        background-blend-mode: lighten;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .gender-img:hover {
        opacity: 0.9;
    }

    .gender {
        position: relative;
        margin-bottom: 20px; /* 要素間の余白を調整 */
    }

        .gender .image-container {
            position: relative;
            display: inline-block;
        }

        .gender .text-overlay {
            position: absolute;
            top: 80%;
            left: 50%;
            font-size: 24px;
            color: white;
        }
    .custom-button {
        border: none;
        padding: 10;
        background: none;
        
    }

    .home-category-img {
        border-radius: 13px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    }
</style>
<body>
    <div class="container mt-3">
        <h2 class="text-center">商品検索</h2>
        <form method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" placeholder="名前" />
            </div>
            <div class="mt-2 text-center mb-5">
                <button type="submit" class="btn btn-primary">検索</button>
                <button type="button" class="btn btn-secondary" onclick="clearSearch()">リセット</button>
                <script>
                    function clearSearch() {
                        document.getElementById("Name").value = "";
                    }
                </script>
            </div>
        </form>
        <ul class="nav">
            <li class="mb-5 nav-item d-flex align-items-center justify-content-between gender">
                <form method="post">
                    <button type="submit" id="GenderName" name="GenderName" value="Mens" class="custom-button">
                        <div class="d-flex align-items-center">
                            <div class="mr-3">
                                <div class="image-container">
                                    <img class="img-fluid gender-img home-category-img" src="~/img/mens.jpg" alt="men">
                                    <div class="text-overlay">Mens</div>
                                </div>
                            </div>
                        </div>
                    </button>
                </form>
                <div class="d-flex align-items-center">
                    <form method="post">
                        <button type="submit" id="GenderName" name="GenderName" value="Womens" class="custom-button">
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                    <div class="image-container">
                                        <img class="img-fluid gender-img home-category-img" src="~/img/women.jpg" alt="women">
                                        <div class="text-overlay">Women's</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </li>
            <li class="nav-item d-flex align-items-center justify-content-between gender">
                <div class="d-flex align-items-center">
                    <form method="post">
                        <button type="submit" id="CategoryName" name="CategoryName" value="バッグ" class="custom-button">
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                    <div class="image-container">
                                        <img class="img-fluid gender-img home-category-img" src="~/img/bag.jpg" alt="bag">
                                        <div class="text-overlay">Bag</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
                <div class="d-flex align-items-center">
                    <form method="post">
                        <button type="submit" id="CategoryName" name="CategoryName" value="財布" class="custom-button">
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                    <div class="image-container">
                                        <img class="img-fluid gender-img home-category-img" src="~/img/wallet.jpg" alt="Wallet">
                                        <div class="text-overlay">Wallet</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
            <li class="nav-item d-flex align-items-center justify-content-between gender">
                <div class="d-flex align-items-center">
                    <form method="post">
                        <button type="submit" id="CategoryName" name="CategoryName" value="ジュエリー" class="custom-button">
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                    <div class="image-container">
                                        <img class="img-fluid gender-img home-category-img" src="~/img/jewelry.jpg" alt="Jewelry">
                                        <div class="text-overlay">Jewelry</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </li>
            <li class="nav-item d-flex align-items-center justify-content-between gender">
                <div class="d-flex align-items-center">
                    <form method="post">
                        <button type="submit" id="CategoryName" name="CategoryName" value="フレグランス" class="custom-button">
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                    <div class="image-container">
                                        <img class="img-fluid gender-img home-category-img" src="~/img/perfume.jpg" alt="perfume">
                                        <div class="text-overlay">Fragrance</div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</body>
