@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<style>
    .navbar-nav {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        margin-right: 10px;
    }

    .nav-link {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .accounting:hover {
        opacity: 0.7;
        animation: rotate 0.6s linear infinite;
    }

    @@keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
</style>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="~/Users/Edit/@UserManager.GetUserId(User)">
                <div class="text-center">
                    <span style="font-weight: bold;">
                        @User.Identity?.Name 様
                    </span>
                </div>
                <img class="img-fluid img-100 accounting" src="~/img/account.svg" alt="Account">
            </a>
        </li>
        <li class="nav-item">
            <a href="~/Carts/Index?userId=@UserManager.GetUserId(User)" class="nav-link accounting">
                <img class="img-fluid img-100" src="~/img/cart.svg" alt="Cart">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link accounting" asp-area="Identity" asp-page="/Account/Logout">
                <img class="img-fluid img-100" src="~/img/logout.svg" alt="Logout">
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                Register
            </a>
            <a class="nav-link accounting" asp-area="Identity" asp-page="/Account/Register">
                <img class="img-fluid img-100" src="~/img/register.svg" alt="Register">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
            <a class="nav-link accounting" asp-area="Identity" asp-page="/Account/Login">
                <img class="img-fluid img-100" src="~/img/login.svg" alt="Login">
            </a>
        </li>
    }
</ul>
